
<nav class="navbar navbar-expand-lg navbar-dark bg-success ">
        <a class="navbar-brand" href="/">مسكن مصر</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <%if(!currentUser){%>
            <li class="nav-item <%=pageTitle == 'اشتراك'?'active':''%>">
                <form action="/register" method="GET">
                  <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                  <a class="nav-link" href="/register">اشترك</a>
                </form>
              
            </li>
            <li class="nav-item">
                <form action="/login" method="GET">
                  <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                  <a class="nav-link" href="/login">تسجيل دخول</a>
                </form>
              
            </li>
            <% }else{%>
              <li class="nav-item">
                <a class="nav-link" href="/"><%=currentUser.email%></a>
              </li>
              <li class="nav-item">
                <form action="/logout" method="GET">
                  <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                  <a href="/logout" class="nav-link">تسجيل جروج</a>
                </form>
              </li>
              <%}%>
            <li class="nav-item">
                <a class="nav-link btn btn-danger text-white" href="/add-product"> اضف عقارك +</a>
              </li>
          </ul>
        </div>
      </nav>

<!-- toast (Messages) -->
    <%if(success && success.length>0){%>
    <div class="toast message position-absolute" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000">
        <div class="toast-header">
          <strong class="ml-2 ">مسكن مصر</strong>
          <button type="button" class="mr-auto mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body text-center text-success h3">
            <%=success%>
        </div>
      </div>
      <%}%>

      <%if(error && error.length>0){%>
        <div class="toast message position-absolute" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000">
            <div class="toast-header">
              <strong class="ml-2 ">مسكن مصر</strong>
              <button type="button" class="mr-auto mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="toast-body text-center text-danger h3">
                <%=error%>
            </div>
          </div>
          <%}%>
    
