<%- include('../includes/header.ejs')%>
<%- include('../includes/navbar.ejs')%>

<section id="searchArea">
    <div class="green-overlay">
            <div class="container text-center p-5">
                    <h3 class="display-4 ">ابحث عن منزلك</h3>
                <form action="/" method="GET" class="pt-5">
                    <div class="form-group">
                        <div class="input-group">
                                <input type="text" name="search" class="form-control form-control-lg" placeholder="مثلا : شقه بالاولى عمارات" autocomplete="off">
                                <div class="input-group-prepend">
                                        <!-- <input type="hidden" name="_csrf" value="<%=csrfToken%>"> -->
                                      <button class="btn btn-success" type="submit">ابحث</button>
                                </div>
                                
                              </div>
                    </div>
                </form>
                </div>
    </div>
    
</section>


<!-- Cards section-->
<section id="productCards">
    <div class="container text-center pt-3">
        <div class="row">
            <% if(noMatch !== undefined){%>
                <div class="container text-center">
                    <div class="col-md-12 mt-5">
                        <i class="far fa-frown fa-5x"></i>
                        <h3 class="text-danger pt-3"><%=noMatch%></h3>
                    </div>
                </div>
            
            <%}%>
            <% prods.slice().reverse().forEach((product)=>{%>
            <div class="col-lg-4 col-md-6">
                <div class="card-deck">
                    <div class="card shadow mb-5 bg-white rounded">
                            <img src="<%=product.image%>" class="card-img-top img-fluid">
                            <div class="card-body">
                              <h5 class="card-title"><%=product.name%></h5>
                            </div>
                              <ul class="list-group list-group-flush p-0">
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-4">المساحه (<%=product.size%>)</div>
                                            <div class="col-md-4">
                                                    <i class="fas fa-bed fa-2x"></i>
                                                الغرف (<%=product.rooms%>)</div>
                                            <div class="col-md-4">
                                                    <i class="fas fa-bath fa-2x"></i>
                                                الحمامات (<%=product.bathroom%>)</div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-6  d-flex align-self-center">
                                                    <a href="/product/<%=product._id%>" class="btn btn-success btn-md ">معلومات اكثر</a>
                                            </div>
                                            <div class="col-md-6 ">
                                                    <h4>للبيع</h4>
                                                    <h4 class="d-inline"><%=product.price%></h4>
                                                    <h4 class="d-inline">جنيه</h4>
                                            </div>
                                        </div>
                                    </li>
                              </ul>
                          </div>
                          
                        </div>
                        
            </div>
            <%})%>
        </div>
    </div>
</section>

<%- include('../includes/footer.ejs')%>